<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rule-Based AI Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="chat-container">
        <div class="chat-header">
            <h2>🤖 Rule-Based AI Chatbot</h2>
            
        </div>

        <div class="chat-box" id="chatBox">
            <div class="bot-message">
                 Hello! I am RuleBot. Type "help" to see what I can answer.Type "bye" or "exit" to end the conversation.

                </div>
        </div>

        <div class="input-area">
            <input type="text" id="userInput" placeholder="Type your message..." autocomplete="off">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>